<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory> 
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">Harsha*0600</property>
		<property name="hibernate.connection.url">jdbc:mysql://asatisamaj.cp9eqx6rohrw.us-east-1.rds.amazonaws.com:3306/asatisamaj?zeroDateTimeBehavior=convertToNull&amp;autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8</property>
			<property name="hibernate.connection.username">asatisamaj_user</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="use_sql_comments">false</property>
		<property name="c3p0.min_size">5</property>
		<property name="c3p0.max_size">20</property>
		<property name="c3p0.timeout">1800</property>
		<property name="c3p0.max_statements">50</property>
		<property name="connection.provider_class">	org.hibernate.connection.C3P0ConnectionProvider</property>
		<!-- no "connection.pool_size" entry! -->
		<mapping resource="com/mkyong/customer/Customer.hbm.xml" />
		<mapping resource="com/mkyong/customer/UserInformation.hbm.xml" />
		<mapping resource="com/mkyong/customer/TeamMember.hbm.xml" />
		<mapping resource="com/mkyong/customer/AuditInformation.hbm.xml" />
	</session-factory>
</hibernate-configuration>